/* CARDS ALIGNED AND WRAPPED */
.genres, .genreMovies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.genreLink {
    text-decoration: none;
    border: 1px solid #c5c5c5;
    box-shadow: 0 0 12px 0px #444;
}

.genreCard, .genreMoviesCard {
    height: 300px;
    width: 200px;
    color: #444;
}

.genreMoviesCard {
    border: 1px solid #c5c5c5;
    box-shadow: 0 0 12px 0px #444;
}

.genreCard figure,
.genreCard section,
.genreMoviesCard figure,
.genreMoviesCard section {
    height: 50%;
}

.genreImage, .genreMoviesImage {
    height: 100%;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.genreCard section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.genreMoviesCard section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.genreMoviesCard section h3.title {
    height: 50%;
}

.genreMoviesCard section button.rentButton {
    cursor: pointer;
    height: 50%;
    width: 100%;
}
